/**************************
        GENERAL
**************************/

body {
    position: relative;
}

/************************** 
        MAIN
**************************/

.container-top {
    height: 20vh;
    background-color: #009688;
}

.container-bot {
    height: 80vh;
    background-color: #d8dbd7;
}

.container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80VW;
}

.col-30 {
    height: 100%;
    width: 30%;
}

.col-70 {
    height: 100%;
    width: 70%;
}

.my-profile {
    min-height: 60px;
    background-color: #eaeaea;
    border-right: 1px solid gray;
}

.my-alert {
    min-height: 70px;
    background-color: #8edafc;
    border-right: 1px solid gray;
}

.my-search {
    min-height: 50px;
    background-color: #fafafa;
    border-right: 1px solid gray;
}

.my-user {
    min-height: calc(100% - 180px);
    background-color: #ffffff;
    border-right: 1px solid gray;
}

.selected-user {
    height: 60px;
    background-color: #eaeaea;
}

.chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 110px);
}

.text {
    min-height: 50px;
    background-color: #f3eeea;
}

.pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    width: 100%;
}

.icons i {
    color: gray;
}

.alert-circle {
    color: #8edafc;
    background-color: #ffffff;
}

.not {
    margin-top: -4px;
}

.my-not {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -3px;
}

.my-not-bot {
    color: gray;
    font-size: 12px;
    text-decoration: underline;
}

.my-search .form-control {
    width: 95%;
    height: 60%;
}

.user-container {
    height: 70px;
}

.selected-user {
    background-color: #e9ebeb;
}

h6 {
    margin-bottom: -2px;
}

.user-container .pic {
    width: 55px;
    height: 55px;
}

.user-container {
    border-bottom: 1px solid #d8dbd7;
}

.last-mex {
    font-size: 13px;
    color: gray;
}

.message {
    width: 40%;
    height: 50px;
    border-radius: 10px;
}

.recived {
    background-color: #ffffff;
}

.sent {
    background-color: #d5f9ba;
}

.text .form-control {
    width: 80%;
}

.text i {
    color: gray
}

/**************************
        RESPONSIVE
**************************/

@media screen and (max-width: 1200px) {

    .container-main {
        min-width: 1000px;
        min-height: 95vh;
    }

    .container-top {
        min-width: 1000px;
    }

}