/**************************
        GENERAL
**************************/

body {
    position: relative;
}

/**************************
        MAIN
**************************/

.container-top {
    height: 20vh;
    background-color: #009688;
}

.container-bot {
    height: 80vh;
    background-color: #d8dbd7;
}

.container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80VW;
}

.col-30 {
    height: 100%;
    width: 30%;
}

.col-70 {
    height: 100%;
    width: 70%;
}

.my-profile {
    min-height: 60px;
    background-color: #eaeaea;
    border-right: 1px solid gray;
}

.my-alert {
    min-height: 70px;
    background-color: #8edafc;
    border-right: 1px solid gray;
}

.my-search {
    min-height: 40px;
    background-color: #fafafa;
    border-right: 1px solid gray;
}

.my-user {
    min-height: calc(100% - 170px);
    background-color: #ffffff;
    border-right: 1px solid gray;
}

.selected-user {
    height: 60px;
    background-color: #eaeaea;
}

.chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);
}

.text {
    min-height: 60px;
    background-color: #f3eeea;
}

/**************************
        RESPONSIVE
**************************/

@media screen and (max-width: 1200px) {
    body {
        overflow-y: hidden;
    }

    .container-main {
        min-width: 1000px;
        min-height: 95vh;
    }

    .container-top {
        min-width: 1000px;
    }

}